xcuserdata/
*.xcscmblueprint
*.xccheckout
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
/*.gcno
**/xcshareddata/WorkspaceSettings.xcsettings

.DS_Store
*.ipa
*.dSYM.zip
*.dSYM
*.hmap

timeline.xctimeline
playground.xcworkspace
.build/

